####################
# Project Specific
###################
/tmp
/linux-devkit
Rules.make
*.minicom

########
# C
########

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

########
# Linux
########
.*
!.gitignore
*~
