[submodule "firmware/am3517/u-boot"]
	path = firmware/am3517/u-boot
	url = https://github.com/SDRG-UCT/u-boot_rhino.git
[submodule "firmware/am3517/rhino_borph"]
	path = firmware/am3517/rhino_borph
	url = https://github.com/SDRG-UCT/rhino_borph.git
